@using ShoppingOnline.WebApplication.Authorization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Quản lý danh mục sản phẩm";
}

@section styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet"/>
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet"/>
}

@section scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/productCategory/index.js" asp-append-version="true"></script>
    <script>
        var productCategory = new productCategoryController();
        productCategory.initialize();
    </script>
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Danh mục sản phẩm <small>Danh sách danh mục sản phẩm</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="title_right">
            @if ((await AuthorizationService.AuthorizeAsync(User, "PRODUCT_CATEGORY", Operations.Create)).Succeeded)
            {
                <div class="col-md-1 col-sm-2 col-xs-12 form-group pull-right">
                    <button id="btnCreate" class="btn btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            }
        </div>
        <div class="x_content">
            <ul id="treeProductCategory"></ul>
            <div id="contextMenu" class="easyui-menu" style="width: 120px;">
                @if ((await AuthorizationService.AuthorizeAsync(User, "PRODUCT_CATEGORY", Operations.Update)).Succeeded)
                {
                    <div id="btnEdit" data-options="iconCls:'icon-edit'">Sửa</div>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "PRODUCT_CATEGORY", Operations.Delete)).Succeeded)
                {
                    <div id="btnDelete" data-options="iconCls:'icon-remove'">Xoá</div>
                }
            </div>
        </div>
    </div>
</div>
@Html.Partial("_AddEditModal.cshtml")