<footer>
    <div class="pull-right">
        ShopMart - Trang quản trị được thiết kế bởi <a href="https://www.facebook.com/lebatuananh300496">Lê Bá Tuấn Anh</a>
    </div>
    <div class="clearfix"></div>
</footer>